<div class="videos-list">
  <app-videos-list-item name="Проходим Wormix весь стрим"
                        link="https://i.ytimg.com/vi/MV_3Dpw-BRY/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLC6vdO2_tVcljMGqDNOD9US6XFRKw"></app-videos-list-item>
  <app-videos-list-item name="Проходим Wormix весь стрим"
                        link="https://i.ytimg.com/vi/MV_3Dpw-BRY/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLC6vdO2_tVcljMGqDNOD9US6XFRKw"></app-videos-list-item>
  <app-videos-list-item name="Проходим Wormix весь стрим"
                        link="https://i.ytimg.com/vi/MV_3Dpw-BRY/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLC6vdO2_tVcljMGqDNOD9US6XFRKw"></app-videos-list-item>
  <app-videos-list-item name="Проходим Wormix весь стрим"
                        link="https://i.ytimg.com/vi/MV_3Dpw-BRY/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLC6vdO2_tVcljMGqDNOD9US6XFRKw"></app-videos-list-item>
  <app-videos-list-item name="Проходим Wormix весь стрим"
                        link="https://i.ytimg.com/vi/MV_3Dpw-BRY/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLC6vdO2_tVcljMGqDNOD9US6XFRKw"></app-videos-list-item>
  <app-videos-list-item name="Проходим Wormix весь стрим"
                        link="https://i.ytimg.com/vi/MV_3Dpw-BRY/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLC6vdO2_tVcljMGqDNOD9US6XFRKw"></app-videos-list-item>
  <app-videos-list-item name="Проходим Wormix весь стрим"
                        link="https://i.ytimg.com/vi/MV_3Dpw-BRY/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLC6vdO2_tVcljMGqDNOD9US6XFRKw"></app-videos-list-item>
  <app-videos-list-item name="Проходим Wormix весь стрим"
                        link="https://i.ytimg.com/vi/MV_3Dpw-BRY/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLC6vdO2_tVcljMGqDNOD9US6XFRKw"></app-videos-list-item>
  <app-videos-list-item name="Проходим Wormix весь стрим"
                        link="https://i.ytimg.com/vi/MV_3Dpw-BRY/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLC6vdO2_tVcljMGqDNOD9US6XFRKw"></app-videos-list-item>
  <app-videos-list-item name="Проходим Wormix весь стрим"
                        link="https://i.ytimg.com/vi/MV_3Dpw-BRY/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLC6vdO2_tVcljMGqDNOD9US6XFRKw"></app-videos-list-item>
  <app-videos-list-item name="Проходим Wormix весь стрим"
                        link="https://i.ytimg.com/vi/MV_3Dpw-BRY/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLC6vdO2_tVcljMGqDNOD9US6XFRKw"></app-videos-list-item>
  <app-videos-list-item name="Проходим Wormix весь стрим"
                        link="https://i.ytimg.com/vi/MV_3Dpw-BRY/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLC6vdO2_tVcljMGqDNOD9US6XFRKw"></app-videos-list-item>
  <app-videos-list-item name="Проходим Wormix весь стрим"
                        link="https://i.ytimg.com/vi/MV_3Dpw-BRY/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLC6vdO2_tVcljMGqDNOD9US6XFRKw"></app-videos-list-item>
  <app-videos-list-item name="Проходим Wormix весь стрим"
                        link="https://i.ytimg.com/vi/MV_3Dpw-BRY/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLC6vdO2_tVcljMGqDNOD9US6XFRKw"></app-videos-list-item>
  <app-videos-list-item name="Проходим Wormix весь стрим"
                        link="https://i.ytimg.com/vi/MV_3Dpw-BRY/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLC6vdO2_tVcljMGqDNOD9US6XFRKw"></app-videos-list-item>
  <app-videos-list-item name="Проходим Wormix весь стрим"
                        link="https://i.ytimg.com/vi/MV_3Dpw-BRY/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLC6vdO2_tVcljMGqDNOD9US6XFRKw"></app-videos-list-item>
  <app-videos-list-item name="Проходим Wormix весь стрим"
                        link="https://i.ytimg.com/vi/MV_3Dpw-BRY/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLC6vdO2_tVcljMGqDNOD9US6XFRKw"></app-videos-list-item>
  <app-videos-list-item name="Проходим Wormix весь стрим"
                        link="https://i.ytimg.com/vi/MV_3Dpw-BRY/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLC6vdO2_tVcljMGqDNOD9US6XFRKw"></app-videos-list-item>
</div>
