<header class="header f-c">
  <div class="block-wide f-c">
    <a class="clipup-name block-wide-element" routerLink="">{{ clipupName }}</a>
    <app-search class="block-wide-element-2"/>
    <div class="block-wide-element right-panel">
      <app-header-links-list [links]="links"/>
      <div class="avatar">
        <app-picture src="https://sun9-42.userapi.com/impg/F9LVrnFBN67OXl-aPJI24oTdW6UkOeP0yJkAwQ/prugxCuwqz4.jpg?size=512x512&quality=95&sign=bfa582c1c30433bcc3c54e897423a821&type=album"/>
      </div>
    </div>
  </div>
</header>
